#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.circle {
  width: 25px;
  height: 25px;
  background-color: blue;
  border-radius: 50%;
}

.sombra {
  box-shadow: 0px 0px 30px 2px rgb(86, 87, 85);
}

.aside {
  width: 250px;
  height: 100vh;
}

.color {
  color: rgb(245, 230, 20) !important;
}

section[id]::before {
  content: "";
  display: block;
  height: 170px; /* altura del sticky */
  margin-top: -170px; /* igual al height pero negativo */
  visibility: hidden;
}

@media (min-width: 768px) {
  aside {
    position: sticky;
    top: 0;
    height: 100vh; /* Ocupa toda la altura del viewport */
    align-self: flex-start;
    width: 250px; /* Ajusta el ancho según tu diseño */
    overflow-y: auto; /* Por si el contenido del aside es muy alto */
    background-color: #f8f9fa; /* fondo claro para que se note */
    border-right: 1px solid #ddd;
    padding: 1rem;
  }
}
