#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.sombra {
  box-shadow: 0px 0px 30px 2px rgb(86, 87, 85);
}

.aside {
  width: 250px;
  height: 100vh;
}

.color {
  color: rgb(245, 230, 20) !important;
}

section[id]::before {
  content: "";
  display: block;
  height: 170px;
  margin-top: -170px;
  visibility: hidden;
}

@media (min-width: 768px) {
  aside {
    position: sticky;
    top: 0;
    height: 100vh;
    align-self: flex-start;
    width: 250px;
    overflow-y: auto;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    padding: 1rem;
  }
}
