#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.circle {
  width: 25px;
  height: 25px;
  background-color: blue;
  border-radius: 50%;
}

.sombra {
  box-shadow: 0px 0px 30px 2px rgb(86, 87, 85);
}

.aside {
  width: 250px;
  height: 100vh;
}

.color {
  color: rgb(245, 230, 20) !important;
}
